body{
    color: white;
    background: black;
    maegin: 0px;
}

header{
    border-bottom: solif 2px rgb(231, 28, 28)
    padding: 20px;
    font-size: 40px;
    color: rgb(255, 255, 255)
}

